/* Z-INDEXES */
$z-body: 1;
$z-body-tablet: 2;
$z-body-desktop: 3;

/* COLORS */
$color-dark: #060506;
$color-white: #ffffff;
$color-green: #0fdb94;
$color-gray: #5c5c5c;
$color-primary: $color-dark;
